
#search-block-form label, #search-theme-form label {
  display:block;
}

.safarisearch-l  {
  background: url(search.png) no-repeat 0 -19px;
  float: left;
  width: 19px;
  height: 20px;
}

.safarisearch-r  {
  background: url(search.png) no-repeat right -19px;
  float: left;
  width: 16px;
  height: 20px;
  margin-right: .5em;
}

.safarisearch-r.safarisearch-dirty {
  background-position:right -39px;
}

.safarisearch {
  background: url(search.png) repeat-x 0 1px;
  float: left;
  height: 20px;
}

.safarisearch input {
  background: transparent;
  border: 0;
  height: 13px;
  padding: 3px;
  font-size: 11px;
}